.view {
  box-sizing: border-box;
  border: 2px solid red;
  margin: 30px;
  max-height: 85vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  grid-auto-rows: 1fr;

  &__tile {
    box-sizing: border-box;
    border: 1px solid lightgray;
    aspect-ratio: 1 / 1;
    pointer-events: auto;

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
}
